/* STYLES */
:root {

    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    
    /* ### Neutral */
    
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}


/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}
p {
    font-size: 16px;
}

.img-egg img {
    
    width: 100%;
}

body {
}
.card-recipe {
    padding: 2.5rem;

}
.first-title {
    font-size: 3rem;
    line-height: 3rem;
    font-family:"Young Serif";
    margin-bottom: 2rem;
}
header p:nth-child(2) {
  
    font-size: 1.28rem;
    line-height: 1.6rem;
    font-family:"Outfit";
    margin-bottom: 2rem;
}
.preparation-session {
   padding: 1rem;
   background-color: var(--RoseWhite);
}
.preparation-session p {
    font-family:"Outfit";
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.preparation-session li {
    padding-bottom: 1rem;
    }
    

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* font-family:"Outfit"; */
/* font-family:"Young Serif"; */